<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>multiColumn</title>
    <style>
        .column{
            text-align: justify;
            /*컬럼 갯수 지정*/
            column-count: 4;
            /*컬럼 폭에 맞게 단 나누기. 이 때 브라우저 창을 줄이면 폭에 맞게 단을 조절함*/
            /*column-width: 200px;*/
            /*둘 다 사용할 경우 count value에 해당되는 단 수만 생김
            즉, 브라우저 크기를 늘려 column-width에 지정한 200px로 컬럼을 나눌 수 있게 되더라도 컬럼 수는 고정되어 있다.
            반대의 경우 브라우저 크기를 줄이면 컬럼 수는 줄어든다.*/
            column-gap: 30px; /*컬럼 간 간격*/
            column-rule-style: dashed;
            column-rule-width: 1px;
            column-rule-color: crimson;
        }
        h1{
            column-span: all; /*컬럼 중간에 제목을 두고 싶을 경우 이 속성을 설정하면 더이상 column 공간에 구애받지 않음*/
        }
    </style>
</head>
<body>
<div class="column">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis non ratione recusandae tempora voluptatum.
    Asperiores
    culpa earum exercitationem ipsum iusto molestias necessitatibus omnis sed soluta totam. Alias dolore eligendi enim
    hic
    laborum, necessitatibus pariatur placeat sapiente sunt vero? Hic inventore qui vero? Aliquam autem corporis delectus
    eligendi et eveniet facere minus nam, nihil, numquam quas sed sint totam veritatis voluptates! Accusamus animi
    asperiores eius enim esse facilis inventore modi nihil nobis numquam possimus praesentium quas, unde? Animi, fuga,
    saepe. Amet aperiam asperiores debitis doloremque dolores ex fugit id illum, labore laboriosam laborum laudantium
    libero
    maxime molestiae necessitatibus nihil nobis pariatur perspiciatis possimus quaerat saepe similique sint tempora
    temporibus unde, ut velit voluptates! Animi cumque earum eligendi et, eveniet hic illum iste molestiae, molestias
    neque
    nostrum nulla odit perspiciatis provident quam quasi quos recusandae sapiente similique suscipit tempore voluptatem
    voluptates voluptatum? A at dignissimos esse non numquam! Accusamus eaque eligendi fugit iusto libero magnam placeat
    quidem repudiandae, vitae voluptates. Asperiores aspernatur excepturi explicabo ipsum omnis provident saepe.
    Accusantium
    ad at consequatur cum distinctio explicabo, fugit impedit ipsa iste iure libero magni nihil, optio possimus quidem
    soluta veniam vero voluptates. Accusamus, aperiam, commodi consequuntur debitis, deserunt dolorum error id laborum
    natus
    nesciunt nostrum odio quis reprehenderit. Debitis dolorum hic laudantium minima quibusdam repudiandae voluptates
    voluptatibus! A accusamus animi asperiores commodi cupiditate deleniti earum eligendi fugiat ipsam, itaque laborum,
    modi
    <h1>안녕하세요</h1>
    molestias nam nihil odit officia placeat possimus repellendus reprehenderit saepe suscipit vitae voluptate.
    Accusamus
    autem consectetur consequatur consequuntur deleniti distinctio eos in ipsa labore perspiciatis provident quidem
    quisquam
    quod quos, reiciendis suscipit, voluptates! Corporis excepturi exercitationem facere quas quasi repellendus, saepe
    unde
    voluptates. Aut consequatur cum esse facere harum maxime perspiciatis quae, qui, quo reiciendis rem tempora unde
    velit!
    At aut beatae consequatur cupiditate dolores, error nulla quod recusandae sunt veritatis! Atque commodi error
    exercitationem expedita explicabo impedit ipsam iusto nisi, recusandae velit. Accusantium aspernatur assumenda at
    aut
    autem blanditiis corporis debitis dignissimos dolore doloribus dolorum ea enim est ex exercitationem explicabo
    facere
    fugiat, hic id ipsa iure laudantium maiores minus molestiae natus non perferendis possimus quae quis quisquam
    repellat
    repudiandae similique sint sit sunt tenetur voluptates. Ad, aliquid beatae blanditiis consequatur corporis dolores
    harum
    iure labore laudantium minus nam nisi obcaecati odio praesentium qui quia quisquam recusandae, sed sequi suscipit
    ullam
    vel voluptatum. Ab earum esse exercitationem, inventore ipsa molestiae praesentium ratione sapiente velit
    voluptates?
    Architecto consequatur ducimus itaque nostrum soluta sunt voluptates. Asperiores aspernatur dignissimos earum error
    laborum modi nesciunt officiis, porro quae? Aliquid assumenda consectetur consequatur eius eligendi excepturi harum,
    illum impedit iste iure maiores, maxime molestiae nam necessitatibus nostrum quasi quis quod, reiciendis repellendus
    sit
    temporibus totam unde. Deleniti, ipsa, rerum! Culpa, deserunt excepturi minima possimus unde veritatis voluptatum! A
    fugiat qui rerum temporibus ullam! Beatae dolores esse excepturi ipsa ipsum nihil quos rerum voluptate voluptatum?
    Ab
    ad, cupiditate doloribus eum ipsam iure iusto voluptate. A, facere incidunt ipsam iure quod repudiandae similique
    totam
    voluptates. Adipisci aliquam assumenda deserunt distinctio ducimus earum enim expedita iure labore laborum maiores
    modi
    mollitia nam necessitatibus, nulla omnis optio provident quod rem, repellat sapiente totam vitae voluptatem.
    Accusantium, at atque cumque cupiditate dignissimos doloremque earum est exercitationem fuga illo molestias mollitia
    nemo obcaecati ratione rerum sunt veritatis! Amet, dicta doloribus error ipsum officia, qui quod, repellat sed
    similique
    suscipit tempore totam. Accusantium architecto aspernatur dolor dolore eius expedita facilis incidunt inventore
    nostrum
    omnis perspiciatis praesentium quasi, recusandae, repellat rerum suscipit totam vitae! A accusamus amet, aspernatur
    assumenda commodi consequatur consequuntur corporis culpa cum delectus dolorem ea expedita id impedit ipsa, ipsam
    iste
    laboriosam laudantium nobis perspiciatis quaerat quia rem repellendus sequi sint tempora veritatis vero. Aliquam
    assumenda cumque deserunt facilis illum itaque obcaecati placeat repellendus veniam. Debitis deleniti doloremque
    esse
    est magni praesentium rerum? Ab accusamus accusantium amet asperiores beatae cumque dolor dolorum earum eos
    explicabo
    facilis fuga id ipsam, magni maiores maxime minima molestiae mollitia nam non odio odit optio praesentium quaerat
    quod
    ratione rerum sed tempora tempore totam unde, veniam voluptate voluptates. Ab adipisci corporis dolore eos, est eum
    expedita impedit ipsa laboriosam maxime nobis officia placeat praesentium quod repellendus sed veniam. Asperiores
    dicta
    ea fugiat fugit, iste obcaecati quisquam reprehenderit ut? Ab accusantium alias assumenda beatae culpa debitis
    dicta,
    dignissimos doloremque dolorum eaque eos, esse excepturi explicabo facere fuga fugiat harum iste itaque libero,
    magnam
    minima molestiae molestias mollitia nobis nulla odio optio possimus provident quam quidem recusandae repellat sit
    sunt
    temporibus totam veniam voluptates. Ab, at beatae cum cumque dicta distinctio dolore eius esse expedita ipsa ipsam
    ipsum
    iusto laboriosam libero, magni maiores modi nihil obcaecati officiis porro quis quos, rerum sunt. Accusamus dolore
    et
    iusto magnam nulla quisquam quos, vel. Aperiam cupiditate eaque, eius fuga harum ipsa labore nihil non odit omnis
    quas
    qui quisquam quo quod sapiente! Aut blanditiis commodi consequuntur delectus dolor dolorum esse itaque laboriosam,
    maxime, molestias natus optio porro, possimus praesentium quae quo sint temporibus veritatis? Accusantium ad alias,
    amet
    aspernatur atque est inventore ipsum maxime optio praesentium provident sed similique suscipit ut voluptatum. Animi
    atque distinctio dolor, esse harum hic ipsum itaque magnam nesciunt odio pariatur quae qui quisquam quos recusandae
    repudiandae similique, vero voluptates voluptatibus voluptatum. Ab accusamus architecto beatae error libero
    obcaecati
    reprehenderit ut! A accusantium animi architecto asperiores at consequuntur dignissimos distinctio doloremque earum
    est
    eum eveniet fugit illo in ipsa iusto libero modi nisi officia officiis, qui quia quo quod ratione sint soluta sunt
    totam
    ullam unde voluptatem? Architecto cumque deleniti doloribus esse hic incidunt laborum magni maxime modi nesciunt
    odit,
    possimus quidem ratione repudiandae sapiente sunt suscipit veniam vitae voluptatem voluptatibus? Doloribus eaque in
    magni minus odio? Ab at beatae dicta esse expedita fuga id iste libero magnam, odio provident quo rerum. Dolore,
    maxime,
    quis? Corporis dolorem fugit itaque natus odit, vero. Adipisci asperiores beatae culpa debitis dicta dolorem ducimus
    eius ex, excepturi facilis fuga fugit, in incidunt iste laudantium minus nemo nesciunt quae quaerat quas quo rem
    tempore
    velit veritatis voluptas? Ad at, commodi dolor dolore esse illum inventore, ipsam modi nostrum optio perspiciatis
    placeat quae repellendus.
</div>
</body>
</html>